* {
  margin: 0px;
  padding: 0px;
}

.btn {
  background-color: aqua;
  border: none;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px 35px;
}

.btn:hover {
  background-color: aquamarine;
}

.btn:active {
  background-color: blue;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 8px;
}

.start {
  border-radius: 20px 0px 0px 20px;
}

.end {
  border-radius: 0px 20px 20px 0px;
}

.active {
  background-color: blueviolet;
  border-right: 3px;
}

.tecla {
  background-color: yellow;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 30px;
  width: 150px;
}

.teclado {
  margin-top: 20px;
  border-radius: 20px;
  background-color: bisque;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid black;
}

main {
  display: flex;
  justify-content: center;
}

.tecla:hover {
  background-color: azure;
}

.tecla:active {
  background-color: blueviolet;
  border-right: 3px;
}
